.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background-color: #00CDFF;
  padding: 15px 0;
  text-align: center;
  color: #fff;

  span {
    font-weight: 600;
  }
}
