.Post {
  position: relative;

  &-remove {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &-content {
    white-space: pre-line;
  }

  &-avatar {
    border-radius: 50%;
  }

  &-show-more {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 0;

  }
}
